/*cor de fundo */
body{
	background-color: #888;
}

/*cor de fundo das divs de conteudo */
.rwd_local , .rwd_content{
	background-color: #fff;
}

/* alinhar ao centro os icones de localização */
.rwd_local{
	text-align: center;
}


/* janela modal */
	.window{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:10000;
    padding:10px;
    border-radius:10px;
}
 
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.fechar{display:block; text-align:right;
}
