/*cor de fundo */
body{
    height:100%;
	background: url("../img/background_rwd_novo.jpg") center/cover;
}

/*cor de fundo das divs de conteudo */
.conteudo {
   min-height:100%;
   position:relative;
}

/* alinhar ao centro os icones de localização */
.rwd_local{
    text-align: center;
}

.rwd_pintitle {
    color: #666666;
}

/* Utilizada nas divs de pin de localização */
.rwd_pinbox {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Utilizada na div de pins de localização */
.rwd_pins {
    width: 60%;
    float: left;
    position: relative;
    margin-left: 3%;
}

/* Utilizada na div de pins de localização */
.logo {
    width: 15%;
    text-align: center;
    float: left;
    position: relative;
}
@media (max-width: 700px){
    .logo {
        width: 40%;
    }
}

/* tratamento da imagem do logo */
.logoimg{
    height: 100px;
}

/* div que comporta o link do selo */
div#selo {
    width: 15%;
    display: inline-block;
    text-align: right;
    }

/* imagem do selo */
.seloimg{
    height: 100px;
}    

/* proporção do header */
.rwd_header{
    background-color: #111013;
    min-height: 35px;
}
.mdl-layout__header-row {
    height: 35px;
}

// div#content{
//     margin-top: 30px;
// }


/* Utilizada no rodapé */
.rodape {
    width: 100%;
    height: 12%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    bottom: 0;
    background-image: url("../img/rodape_bg.jpg");
    display: flex;
    /* flex-wrap: wrap;  */
    align-items: center;
    color: #bdbdbd;
}

@media (max-width: 900px){
    .rodape{
        height: 30%;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

/* Utilizada no rodapé */
.rwdrodape {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #302f2f;
    color: #bdbdbd;
}


/* Utilizada na div interna do rodapé */
.sessaofooter {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.footertitle {
    float: left;
    }

.footerlogos {
    clear: left;
    }


.clearboth {
    clear: both;
    }




/* janela modal */
	.window{
    width:55%;
    height:70%;
    position:absolute;
    left:22.5%;
    top:15%;
    background:#FFF;
    z-index:10000;
    padding:10px;
    border-radius:10px;
}

@media (max-width: 900px){
    .window{
        width:75%;
        height:85%;
        padding: 2%;
                }
            }

 #janela2{
    width: 95%;
    float:right;
 }
 @media (max-width: 900px){
    #janela2{
        width:90%;
                }
            }

 
#mascara{
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
}
 
.fechar{
    text-align:left;
    float: left;
    width: 5%;
}

.steps{
    text-align:right;
    float: right;
}

.modaliconsl,.modaliconsr {
    font-size: xx-large;
}

.modaliconsr{
    text-align: right;
}


/*imagens do footer */
.footer_img1{
    height: 42px;
    width: auto;
}

.footer_img2{
    height: 42px;
    width: auto;    
}

@media (max-width: 400px){
    .footer_img1{
    height: 34px;
    width: auto;
    }

.footer_img2{
    height: 34px;
    width: auto;    
    }
            }

/* div do passo 1 escolha dos videos */
.video-card{
    width: 20%;
    height: 25%!important;
    padding: 2%;
    margin: 2%;
    background-color: green;
    color: #fff;
    display: inline-block;
}

.rwd_p2{
    align:center;
}


/* tamanho da caixa de texto do passo2 */
.mdl-textfield.mdl-js-textfield.rwd_txtmsg.is-upgraded {
    width: 100%;
}