/*cor de fundo */
body{
  background-color: #888;
}

/*cor de fundo das divs de conteudo */
.rwd_local , .rwd_content{
  background-color: #fff;
}

/* alinhar ao centro os icones de localização */
.rwd_local{
  text-align: center;
}


/* janela modal */
  .window{
    display:none;
    width:55%;
    height:70%;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:10000;
    padding:10px;
    border-radius:10px;
}

@media (max-width: 900px){
    .window{
        width:75%;
        height:85%;
        padding: 2%;
                }
            }
 
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.fechar{
    text-align:left;
    float: left;
}

.steps{
    text-align:right;
    float: right;

}
