/* inserção da fonte treta */
@font-face{
    font-family: 'treta';
    src: url("../font/1RIALCT.TTF");
}


/* Definições do body */
body{
    height:100%;
	background: url("../img/background_rwd_novo.jpg") center/cover;
}

.rwd_conteudo {
    height: 100%;
    position: relative;
}

/* alinhar ao centro os icones de localização */
.rwd_local{
    text-align: center;
}

.rwd_pintitle {
    color: #666666;
    font-family: 'treta',sans-serif;
}

/* Utilizada nas divs de pin de localização */
.rwd_pinbox {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Utilizada na div de pins de localização */
.rwd_pins {
    width: 60%;
    float: left;
    position: relative;
    margin-left: 30px;
}

/* Utilizada na div de pins de localização */
.logo {
    width: 15%;
    text-align: center;
    margin-left: 30px;
    float: left;
    position: relative;
}
@media (max-width: 700px){
    .logo {
        width: 40%;
    }
}

/* tratamento da imagem do logo */
.logoimg{
    height: 100px;
}

/* div que comporta o link do selo */
.selo {
    width: 15%;
    display: inline-block;
    text-align: right;
    }

/* imagem do selo */
.seloimg{
    height: 100px;
}    

/* proporção do header */
.rwd_header{
    background-color: #111013;
    min-height: 35px;
}
.mdl-layout__header-row {
    height: 35px;
}

.header_cover{
   background-image: url("../img/rodape_bg.jpg"); 
}


.rwd_cloud {
    position: relative;
    clear: left;
    height: auto;
}


/* Utilizada no rodapé */
.rodape {
    width: 100%;
    height: 8%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    /* flex-wrap: wrap;  */
    align-items: center;
    color: #bdbdbd;
    background-color: rgba(5,33,47,.9);
}

@media (max-width: 900px){
    .rodape{
        height: 30%;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}

/* Utilizada no rodapé */
.rwdrodape {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #302f2f;
    color: #bdbdbd;
}


/* Utilizada na div interna do rodapé */
.sessaofooter {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.footertitle {
    float: left;
    }

.footerlogos {
    clear: left;
    }


.clearboth {
    clear: both;
    }




/* janela modal */
	.window{
    width: 1040px;
    height: 585px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -520px;
    margin-top: -292px;
    background-image: url("../img/modal_bg.png");
    background-size: auto 100%;
    background-repeat:  no-repeat;
    z-index:10000;
    padding:10px;
}

@media (max-width: 900px){
    .window{
        width:75%;
        height:85%;
        padding: 2%;
                }
            }

 #janela2{
    width: 96%;
    height: 90%;
    float: left;
    margin-left: 4%;
 }
 @media (max-width: 900px){
    #janela2{
        width:85%;
                }
            }

.rwd_janela_conteudo {
    width: 75%;
    float: left;
}

.rwd_janela_img {
     width: 25%;
     height: 80%;
     display: flex; 
     float: left;
     margin-top: 10%;
     justify-content: center;     
     align-items: center;
}

.rwd_janela_icon {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#mascara{
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
}
 
.fechar{
    text-align: center;
    position: absolute;
    margin-left: 91%;
    margin-top: 3.5%;
    width: 5%;
}

.steps{
    text-align: right;
    float: right;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modaliconsl,.modaliconsr {
    font-size: xx-large;
}

.modaliconsr{
    text-align: right;
}


/*imagens do footer */
.footer_img1{
    height: 30px;
    width: auto;
    opacity: 0.4;
}

.footer_img2{
    height: 42px;
    width: auto;
    opacity: 0.7;    
}

@media (max-width: 400px){
    .footer_img1{
    height: 34px;
    width: auto;
    }

.footer_img2{
    height: 34px;
    width: auto;    
    }
            }

/* div do passo 1 escolha dos videos */
.video-card{
    padding-top: 2%;
    padding-bottom: 2%;
    color: #fff;
    display: inline-block;
}

.rwd_p2{
    align:center;
}


/* tamanho da caixa de texto do passo2 */
.mdl-textfield.mdl-js-textfield.rwd_txtmsg.is-upgraded {
    width: 100%;
}

.imgGit {
    width: 25px;
}

.gitLink{
    color: #fff;
    text-decoration: none;
}

/* sublinhado da div dos pins */
.rwd_pinbox:hover{
    border-bottom: 3px solid #d66843;
}

/* cor dos pins */
.btnPin{
    color: #d66843;
    opacity: .8
}

/* ajustes da seta */
.seta_footer{
    margin-top: -4%;
}

.footer_seta{
    width: auto;
    height: 14px;
}